{
  "read_from_cache":true,
  "write_to_cache":true,
  "default_runtime_attributes": {
    "slurm_account": "{{ SLURM_ACCOUNT }}",
    "tmp": "{{ TMPDIR }}",
    "singularity_cache": "{{ SINGULARITY_CACHE }}",
    "singularity_bind_path": "{{ SINGULARITY_BIND_PATH }}"  
  }
}
